@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body, html {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}
